.paging {
  display: flex;
  margin-top: 30px;
}

.paging li {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0 6px;
}

.paging li.current {
  color: #0f0;
  border: 1px solid #0f0;
  font-weight: 700;
}

.paging li:hover {
  color: #f00;
  border: 1px solid #f00;
}